<div class="live-page-video-container">
  <div class="live-page-tourdate-top-container">
    <div class="live-page-tourdate-date text">{{tourdateBean.date | date | uppercase}}</div>
    <div class="live-page-tourdate-title text">{{tourdateBean.title | uppercase}}</div>
  </div>
  <div class="live-page-video-frame-container" *ngIf="tourVideoURL !== undefined">
    <iframe class="live-page-video-frame"
            [src]="tourVideoURL | safe"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
  </div>
</div>
