@import "src/styles";

.live-page-video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
  > .live-page-tourdate-top-container {
    padding: 2px 5px 2px 5px;
    width: 96%;
    background-color: $LIGHT_BACKGROUND;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-family: "futura-pt";
    > .live-page-tourdate-date {

    }
    > .live-page-tourdate-title {

    }
  }
  > .live-page-video-frame-container {
    padding-top: 0.5vw;
    width: 97%;
    > .live-page-video-frame {
      width: 100%;
      height: 216px
    }
  }
}
