<ng-container *ngIf="$currentContent | async">

  <ng-container *ngIf="userService.$user | async as user">
    <div class="news-bottom-container" *ngIf="user !== null">
      <phy-outline-button
        [text]="'TOGGLE DEACTIVATED NEWS'"
        (click)="showDeactivatedNews()"
        style="padding-bottom: 20px"></phy-outline-button>
    </div>
  </ng-container>
  <div *ngFor="let news of $currentContent | async" [className]="getContainerStyles()">
    <h2>{{news.title}}</h2>
    <div class="news-content-container">
      <div *ngIf="news.mediaType !== MediaType.NONE && getContentMedia(news.id) | async" class="news-media-container">
        <img class="media-container-image"
             *ngIf="news.mediaType === MediaType.IMAGE && (getContentMedia(news.id) | async).mediaLink !== null"
             [src]="((getContentMedia(news.id) | async).mediaLink | googleDriveLink)"
             alt="content image">
        <iframe class="media-container-video"
                *ngIf="news.mediaType === MediaType.YOUTUBE_VIDEO && (getContentMedia(news.id) | async).mediaLink !== null"
                [src]="(getContentMedia(news.id) | async).mediaLink | safe" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
      </div>
      <div class="news-text-container text" [innerHTML]="news.text"></div>
      <div class="news-text-footer-container">
      </div>
    </div>
    <div class="news-footer-container">
      <div class="news-footer-date">{{news.creationDate | date}}</div>
      <div class="news-footer-icon-container">
        <ng-container *ngIf="$currentSocialMediaLinks && (getSocialMediaLink(news.id)|async) !== undefined">
          <ng-container [ngSwitch]="(getSocialMediaLink(news.id)|async).socialMediaSite">
            <a *ngSwitchDefault href="https://www.facebook.com/phymosis/" target="_blank">
              <img class="news-footer-icon" src="assets/icon/facebook-logo.svg" alt="facebook">
            </a>
            <a *ngSwitchCase="SocialMediaSite.FACEBOOK" [href]="(getSocialMediaLink(news.id)|async).mediaLink"
               target="_blank">
              <img class="news-footer-icon" src="assets/icon/facebook-logo.svg" alt="facebook">
            </a>
            <a *ngSwitchCase="SocialMediaSite.BANDCAMP" [href]="(getSocialMediaLink(news.id)|async).mediaLink"
               target="_blank">
              <img class="news-footer-icon" src="assets/icon/bandcamp-full.svg" alt="bandcamp">
            </a>
            <a *ngSwitchCase="SocialMediaSite.YOUTUBE" [href]="(getSocialMediaLink(news.id)|async).mediaLink"
               target="_blank">
              <img class="news-footer-icon" src="assets/icon/youtube-blk.svg" alt="youtube">
            </a>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="userService.$user | async as user">
          <div *ngIf="user !== null && news.active" (click)="deleteNews(news.id, user)"
               target="_self">
            <img class="news-footer-icon" src="assets/icon/delete.svg" alt="delete">
          </div>
          <div *ngIf="user !== null && !news.active" (click)="reactivateNews(news.id, user)"
               target="_self">
            <img class="news-footer-icon" src="assets/icon/upload.svg" alt="delete">
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <ng-container *ngIf="$currentContent | async as currentContent">
    <div class="news-bottom-container" *ngIf="currentContent.length !== null && currentContent.length < newsNumber">
      <phy-outline-button [text]="'LOAD MORE NEWS'" (click)="loadMoreNews()"></phy-outline-button>
    </div>
  </ng-container>
</ng-container>
