@import "src/styles";

.news-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1vw;
  margin-bottom: 2vw;
  width: 89vw;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 10px;
  text-align: center;
  background-color: $MAIN_BACKGROUND;
}

.news-media-container {
  display: flex;
  width: 22vw;
  justify-content: center;
  align-items: center;
}

.media-container-image {
  width: 80%;
}

.media-container-video {
  width: 100%;
  height: 216px
}

.news-text-container {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.news-footer-container {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}

.left-news-container {
  margin-left: 0;
  margin-right: 10vw;

  > .news-content-container {
    display: flex;
    flex-direction: row;

    > .news-media-container {
      margin-right: 10px;
    }

    > .date {
      text-align: left;
    }
  }

  > .news-footer-container {
    flex-direction: row;
  }
}

.right-news-container {
  margin-left: 9vw;
  margin-right: 0;

  > .news-content-container {
    display: flex;
    flex-direction: row-reverse;

    > .news-media-container {
      margin-left: 10px;
    }

    > .date {
      text-align: right;
    }
  }

  > .news-footer-container {
    flex-direction: row-reverse;
  }
}

.news-bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: $tiny_breakpoint_max) {

  .news-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 96vw;
    margin-bottom: 5vw;
    padding: 4vw 2vw 4vw 2vw;
  }

  .news-media-container {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .media-container-video {
    width: 100%;
    height: 35vw
  }

  .media-container-image {
    width: 70%;
  }

  .news-text-container {
    width: 100%;
  }

  .left-news-container {
    margin-left: 0;
    margin-right: 0;

    > .news-content-container {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;

      > .news-media-container {
        margin-right: 0;
        margin-left: 0;
      }

      > .date {
        text-align: left;
      }
    }
  }

  .right-news-container {
    margin-left: 0;
    margin-right: 0;

    > .news-content-container {
      display: flex;
      flex-direction: column;
      margin-left: 0;

      > .news-media-container {
        margin-right: 0;
        margin-left: 0;
      }

      > .date {
        text-align: left;
      }
    }
  }
  .news-footer-icon {
    height: $h1_size_small;
  }
}


.news-footer-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.15s;
}

.news-footer-icon:focus {
  outline-width: 0;
}

@media only screen and (min-width: $small-breakpoint-min) and (max-width: $small_breakpoint_max) {

  .news-container {
    padding: 2vw 1vw 2vw 1vw;
    width: 88vw;
  }

  .news-media-container {
    width: 40%;
  }

  .news-text-container {
    width: 50%;
  }

  .media-container-video {
    width: 100%;
    height: 25vw
  }

  .news-footer-icon {
    height: $h1_size_small;
  }
}

@media only screen and (min-width: $medium_breakpoint_min) and (max-width: $medium_breakpoint_max) {
  .news-container {
    padding: 1vw;
    width: 88vw;
  }

  .news-text-container {
    width: 50%;
  }

  .media-container-video {
    width: 100%;
    height: 25vw
  }

  .news-media-container {
    width: 50%;
  }

  .news-footer-icon {
    height: $h1_size_medium;
  }
}

@media only screen and (min-width: $big_breakpoint_min) {
  .news-container {
    padding: 1vw;
    width: 88vw;
  }

  .news-footer-icon {
    height: $h1_size_medium;
  }
}
