@import "src/styles";


.header-main-container {
  top: 0;
  left: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: $MAIN_BACKGROUND;
  z-index: 10;
  overflow: hidden;
}
.icon-closed {
  display: none;
  visibility: hidden;
}

.header-title-container {
  width: 100%;
  height: 130%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 1%;
  z-index: 1000;
}

.header-menu-icon-container {
  display: flex;
  margin-left: auto;
}

.header-title-image {
  height: 85%;
  color: white;
  z-index: 1000;
}

.header-menu-icon {
}

.header-menu-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.15s;
}

.header-menu-icon:focus {
  outline-width: 0;
}


.navigation-container {
  position: fixed;
  z-index: 100;
  overflow: hidden;
}


@media only screen and (max-width: $small_breakpoint_max) {
  .header-main-container {
    height: $header_size_small;
  }
  .header-menu-icon {
    height: $header_size_small;
  }
  .navigation-container {
    top: $header_size_small;
    right: 0;
    left: 0;
  }
}

@media only screen and (min-width: $medium_breakpoint_min) and (max-width: $medium_breakpoint_max) {
  .header-main-container {
    height: $header_size_medium;
  }
  .header-menu-icon {
    height: $header_size_medium;
  }
  .navigation-container {
    top: $header_size_medium;
    right: 0;
  }

}

@media only screen and (min-width: $big_breakpoint_min) {
  .header-main-container {
    height: $header_size_large;
  }
  .header-menu-icon {
    height: $header_size_medium;
  }
  .navigation-container {
    top: $header_size_large;
    right: 0;
  }
}

