<div class="header-main-container">
  <span class="header-title-container">
    <img class="header-title-image" src="assets/img/synergizeLogo2.png" alt="Phymosis">
  </span>
  <ng-container *ngIf="this.userService.$user | async as user">
  <span class="header-menu-icon-container">
     <a class="material-icons header-menu-icon" (click)="this.userService.logout(user.id)" style="z-index: 110">
       <img class="header-menu-icon" src="assets/icon/pfeil.svg" alt="menu" title="Logout">
     </a>
  </span>
  </ng-container>
  <span class="header-menu-icon-container">
     <a [class]="$menuIconStyle | async" (click)="openNavigation()" style="z-index: 120">
       <img class="header-menu-icon" src="assets/icon/menu.svg" alt="menu">
     </a>
  </span>
  <span class="header-menu-icon-container">
     <a [class]="$closeIconStyle | async" (click)="closeNavigation()" style="z-index: 110">
       <img class="header-menu-icon" src="assets/icon/close.svg" alt="menu">
     </a>
  </span>
</div>
<div class="navigation-container" *ngIf="navigationActive">
  <phy-navigation (navigationActive)="setNavigationActive($event)"></phy-navigation>
</div>
