<div class="navigation-box" (mouseleave)="closeNavigation()">
  <div class="navigation-row row-1">
    <span class="navigation-row-text navigation-row-element" (click)="navigateTo(RouteTemplate.NEWS)">
      NEWS
    </span>
    <span>
      <a href="https://www.facebook.com/phymosis/" target="_blank" (click)="closeNavigation()">
        <img class="navigation-row-icon navigation-row-element" src="assets/icon/facebook-logo.svg" alt="facebook">
      </a>
    </span>
  </div>
  <div class="navigation-row row-2">
    <span class="navigation-row-text navigation-row-element" (click)="navigateTo(RouteTemplate.RELEASES)">
      MUSIC
    </span>
    <span>
      <a href="https://phymosis.bandcamp.com/releases" target="_blank" (click)="closeNavigation()">
        <img class="navigation-row-icon navigation-row-element" src="assets/icon/bandcamp-full.svg" alt="bandcamp">
      </a>
    </span>
  </div>
  <div class="navigation-row row-3">
    <span class="navigation-row-text navigation-row-element" (click)="navigateTo(RouteTemplate.TOURDATES)">
      LIVE
    </span>
    <span>
      <a href="https://www.youtube.com/channel/UC1k9t6pRNwRpjAXveW1QX_w" target="_blank" (click)="closeNavigation()">
        <img class="navigation-row-icon navigation-row-element" src="assets/icon/youtube-blk.svg" alt="youtube">
      </a>
    </span>
  </div>
  <div class="navigation-row row-4">
    <span class="navigation-row-text navigation-row-element" (click)="navigateTo(RouteTemplate.CONTACT)">
      CONTACT
    </span>
    <span>
      <a href="https://instagram.com/phymosisband?igshid=pps1mvgr6mi8" target="_blank" (click)="closeNavigation()">
        <img class="navigation-row-icon navigation-row-element" src="assets/icon/instagram.svg" alt="youtube">
      </a>
    </span>
  </div>
</div>
