@import "src/styles";
@import "src/styles/animations";

.navigation-box {
  z-index: 100;
  overflow: hidden;
  background-color: white;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  padding: 0 15px 10px 15px;
  user-select: none;
}

.navigation-row {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-row-icon {
  cursor: pointer;
}

.navigation-row-text {
  margin-right: 10px;
  cursor: pointer;
}

.navigation-row-element:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.15s;
}

.navigation-row-element:focus {
  outline-width: 0;
}

.row-1 {
  animation: flyInFromRight 0.1s ease;
}
.row-2 {
  animation: flyInFromRight 0.2s ease;
}
.row-3 {
  animation: flyInFromRight 0.3s ease;
}
.row-4 {
  animation: flyInFromRight 0.4s ease;
}
.row-5 {
  animation: flyInFromRight 0.5s ease;
}
.row-6 {
  animation: flyInFromRight 0.6s ease;
}

@media only screen and (max-width: $small_breakpoint_max) {
  .navigation-row {
    height: $header_size_small;
  }
  .navigation-row-icon {
    height: $h1_size_small;
  }
  .navigation-row-text {
    font-size: $h1_size_small;
  }
  .row-1 {
    animation: none;
  }
  .row-2 {
    animation: none;
  }
  .row-3 {
    animation: none;
  }
  .row-4 {
    animation: none;
  }
  .row-5 {
    animation: none;
  }
  .row-6 {
    animation: none;
  }
}

@media only screen and (min-width: $medium_breakpoint_min) and (max-width: $medium_breakpoint_max) {
  .navigation-row {
    padding-top: 10px;
    height: $header_size_small;
  }
  .navigation-row-icon {
    height: $h1_size_medium;
  }
  .navigation-row-text {
    font-size: $h1_size_medium;
  }
}

@media only screen and (min-width: $big_breakpoint_min) {
  .navigation-row {
    padding-top: 10px;
    height: $header_size_small;
  }
  .navigation-row-icon {
    height: $h1_size_medium;
  }
  .navigation-row-text {
    font-size: $h1_size_large;
  }
}
