@import "src/styles";

.outline-button {
  font-style: italic;
  color: white;
  border: 5px double white;
  background-color: transparent;
}

.outline-button:hover {
  cursor: pointer;
  color: $MAIN_BACKGROUND;
  border: 5px double $MAIN_BACKGROUND;
}

.outline-button:focus {
  outline: none;
}

@media only screen and (max-width: $tiny_breakpoint_max) {
  .outline-button {
    font-size: $h2_size_small;
  }
}

@media only screen and (min-width: $small-breakpoint-min ) and (max-width: $small_breakpoint_max) {

  .outline-button {
    font-size: $h2_size_small;
  }
}

@media only screen and (min-width: $medium_breakpoint_min) and (max-width: $medium_breakpoint_max) {

  .outline-button {
    font-size: $h2_size_medium;
  }
}

@media only screen and (min-width: $big_breakpoint_min) {

  .outline-button {
    font-size: $h2_size_medium;
  }
}
