@import "src/styles";

.edit-dialogue-main {
  > .edit-dialogue-container {
    padding: 2%;
    z-index: 5000;
    background-color: white;
    position: fixed;
    top: 15%;
    left: 15%;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 70%;
    border: 2px solid $LIGHT_BACKGROUND;
    border-radius: 3px;
    overflow: auto;
    > .form-group {
      display: flex;
      flex-direction: column;
      > .type-selection-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        > .type-selection {
          display: flex;
          flex-direction: column;
          width: 45%;
        }
      }
      > textarea {
        resize: none;
        height: 12vh;
      }
    }
  }
  > .closing-area {
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4000;
    background-color: white;
    cursor: default;
  }
}

.news-media-container {
  display: flex;
  flex-direction: column;
  width: 560px;
  justify-content: left;
}

.media-container-image {
  width: 80%;
}

.media-container-video {
  width: 560px;
  height: 315px;
}

