<div class="edit-dialogue-main" *ngIf="showEditDialogue">
  <div class="edit-dialogue-container">
    <div class="form-group">
      <div class="type-selection-container">
        <ng-container *ngIf="targetContent === null">
          <div class="type-selection"
               title="Please select the type of content you want to add...">
            <label for="contentTypes">Content Type: </label>
            <select name="contentTypes"
                    class="content-type-selector"
                    [(ngModel)]="model.contentType"
                    id="contentTypes"
                    #contentTypes="ngModel">
              <option *ngFor="let type of availableTypes" [value]="type">{{type.toString()}}</option>
            </select>
          </div>
        </ng-container>
      </div>
      <hr style="height: 1px; background-color: gray; width: 100%; border: none">
      <label for="contentTitle">Content Title: </label>
      <input name="contentTitle"
             class="content-title-input"
             [(ngModel)]="model.title"
             id="contentTitle"
             #contentTitle="ngModel">
      <ng-container *ngIf="model.contentType === ContentType.NEWS || model.contentType ===  ContentType.TOURDATE">
        <label for="contentText">Content Text: </label>
        <textarea name="contentText"
                  class="content-text-input"
                  [(ngModel)]="model.text"
                  id="contentText"
                  #contentText="ngModel"></textarea>
      </ng-container>
      <ng-container *ngIf="model.contentType !== ContentType.TOURDATE">
        <h4>Enter media linked to the content:</h4>
        <ng-container *ngIf="model.contentType === ContentType.NEWS">
          <div class="type-selection-container">
            <div class="type-selection"
                 title="Select if you want to add a picture or a youtube video to the news,
               otherwise there is only text shown.">
              <label for="mediaTypes">Media Type: </label>
              <select name="mediaTypes"
                      class="content-type-selector"
                      [(ngModel)]="model.mediaType"
                      id="mediaTypes"
                      #mediaTypes="ngModel">
                <option [value]="MediaType.IMAGE">{{MediaType.IMAGE}}</option>
                <option [value]="MediaType.YOUTUBE_VIDEO">{{MediaType.YOUTUBE_VIDEO}}</option>
                <option [value]="MediaType.NONE">{{MediaType.NONE}}</option>
              </select>
            </div>
          </div>
        </ng-container>
        <label for="mediaLink">Media Link: </label>
        <input name="mediaLink"
               class="content-title-input"
               [(ngModel)]="model.mediaLink"
               id="mediaLink"
               #mediaLink="ngModel">
        <p>If the content link is correct, the container below should show it: </p>
        <div *ngIf="model.mediaType !== MediaType.NONE && model.mediaLink !== null" class="news-media-container">
          <img class="media-container-image"
               *ngIf="model.mediaType === MediaType.IMAGE && model.mediaLink !== null"
               [src]="model.mediaLink | googleDriveLink"
               alt="content image">
          <iframe class="media-container-video"
                  *ngIf="model.mediaType === MediaType.YOUTUBE_VIDEO && model.mediaLink !== null"
                  [src]="this.getMediaLink() | safe" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
          </iframe>
          <p>{{this.getMediaLink()}}</p>
        </div>
      </ng-container>
      <ng-container *ngIf="model.contentType === ContentType.NEWS">
        <h4>Add a link to the Logo below the news:</h4>
        <div class="type-selection"
             title="Select with which logo the link below the news is shown.">
          <label for="socialMediaSite">Social Media Site: </label>
          <select name="socialMediaSite"
                  class="content-type-selector"
                  [(ngModel)]="model.socialMediaSite"
                  id="socialMediaSite"
                  #socialMediaSite="ngModel">
            <option [value]="SocialMediaSite.YOUTUBE">{{SocialMediaSite.YOUTUBE}}</option>
            <option [value]="SocialMediaSite.BANDCAMP">{{SocialMediaSite.BANDCAMP}}</option>
            <option [value]="SocialMediaSite.FACEBOOK">{{SocialMediaSite.FACEBOOK}}</option>
          </select>
        </div>
        <label for="socialMediaLink">Social Media Link: </label>
        <input name="socialMediaLink"
               class="content-title-input"
               [(ngModel)]="model.socialMediaLink"
               id="socialMediaLink"
               #socialMediaLink="ngModel">
        <p>If no link is entered or the logo is not selected the bandcamp logo and a link to the bandcamp-site will be
          shown.</p>
      </ng-container>
      <ng-container *ngIf="model.contentType === ContentType.TOURDATE">
        <h4>Enter where the event takes place and when it starts:</h4>
        <label for="location">Tour date location name: </label>
        <input name="location"
               class="content-title-input"
               [(ngModel)]="model.location"
               id="location"
               #location="ngModel">
        <label for="googleMapsLink">Tour date Google Maps link:</label>
        <input name="googleMapsLink"
               class="content-title-input"
               [(ngModel)]="model.googleMapsLink"
               id="googleMapsLink"
               #googleMapsLink="ngModel">
        <label for="dateTime">Tour date time: </label>
        <input type="datetime-local"
               name="dateTime"
               class="content-title-input"
               [(ngModel)]="model.date"
               id="dateTime"
               #dateTime="ngModel">
      </ng-container>
    </div>
  </div>
  <div class="closing-area"
       (click)="toggleEditDialogue()"></div>
</div>
