@import "src/styles";

.live-page-tourdate-container {
  display: flex;
  flex-direction: column;
  user-select: none;
  width: 96%;
  margin-bottom: 2vw;
  > .live-page-tourdate-top-container {
    padding: 2px 5px 2px 5px;
    width: 100%;
    background-color: $LIGHT_BACKGROUND;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
    font-family: "futura-pt";
    > .live-page-tourdate-date {

    }
    > .live-page-tourdate-title {

    }
  }
  > .live-page-tourdate-location {
    font-weight: lighter;
    font-family: "futura-pt";
    padding: 2px 5px 5px 5px;

  }
  > .live-page-tourdate-hidable-container {
    > .live-page-tourdate-text {
      padding: 2px 5px 2px 5px;
      font-family: "futura-pt";
      text-align: left;
      align-content: center;
      justify-content: center;
      vertical-align: center;
    }
    > .live-page-tourdate-maps-frame {
      border:0;
      height: 200px;
      width: 200px;
    }
  }
}
.details-hidden {
  display: none;
}
.details-shown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
