<div class="live-page-tourdate-container">
  <div class="live-page-tourdate-top-container" (click)="toggleDetailsVisibility()">
    <div class="live-page-tourdate-date text">{{tourdateBean.date | date | uppercase}}</div>
    <div class="live-page-tourdate-title text">{{tourdateBean.title | uppercase}}</div>
  </div>
  <div class="live-page-tourdate-location">{{tourdateBean.location | uppercase}}</div>
  <div [class]="hidableContainerStyle">
    <div class="live-page-tourdate-text text" [innerHTML]="tourdateBean.text"></div>
    <iframe class="live-page-tourdate-maps-frame"
            [src]="tourdateBean.googleMapsLink | googleMapsLink"
            frameborder="0" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
  </div>
</div>
