<div class="content-main-container">
  <phy-content-edit-dialogue></phy-content-edit-dialogue>
  <div class="parallax">
    <div class="parallax__layer parallax__layer--back">
    </div>
    <div class="parallax__layer parallax__layer--base">

      <h1 #newsAnchor>NEWS</h1>
      <div class="content-container">
        <phy-news-page></phy-news-page>
      </div>
      <h1 #releasesAnchor>MUSIC</h1>
      <div class="content-container">
        <phy-music-page></phy-music-page>
      </div>
      <h1 #liveAnchor>LIVE</h1>
      <div class="content-container">
        <phy-live-page></phy-live-page>
      </div>

      <h1 #contactAnchor>CONTACT</h1>
      <div class="content-container-no-margin">
        <phy-contact-page></phy-contact-page>
      </div>

      <div class="content-container">
        <phy-impressum-footer></phy-impressum-footer>
      </div>
    </div>
  </div>
</div>
