@import "src/styles";

.content-main-container {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

h1 {
  text-align: center;
  color: $MAIN_BACKGROUND;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  padding: 0;
  transform: translateZ(0);
}

.parallax__layer--back {
  background-image: url("src/assets/img/background/Background-blocks-gray-names.jpg");
  margin-top: $header_size_large;
  background-attachment: scroll;
  background-position: top;
  background-repeat: repeat-x;
  background-size: cover;
  width: 100vw;
  height: 360vh;
  transform: translateZ(-3px) scale(4);
}

.content-container {
  display: flex;
  margin-bottom: 5vw;
}

.content-container-no-margin {
  display: flex;
}



@media only screen and (max-width: $small_breakpoint_max) {
  .content-main-container {
    top: $header_size_small;
  }
}

@media only screen and (min-width: $medium_breakpoint_min) and (max-width: $medium_breakpoint_max) {
  .content-main-container {
    top: $header_size_medium;
  }
}

@media only screen and (min-width: $big_breakpoint_min) {
  .content-main-container {
    top: $header_size_large;
  }
}

