@keyframes flyInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0)
  }
}

@keyframes flyInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0)
  }
}
