<div class="contact-form-container">
  <ng-container *ngIf="!($submitted | async)">
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">

      <div class="form-group">
        <label for="name">Your Name:</label>
        <input type="text"
               class="form-control data-input"
               id="name"
               required
               [(ngModel)]="model.name" name="name" #contactName="ngModel">
      </div>

      <div class="form-group">
        <label for="email">Your Email Address:</label>
        <input type="email"
               class="form-control data-input"
               id="email"
               required
               [(ngModel)]="model.email" name="email" #contactEmail="ngModel">
      </div>

      <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text"
               class="form-control data-input"
               id="subject"
               required
               [(ngModel)]="model.subject" name="subject" #contactSubject="ngModel">
      </div>

      <div class="form-group">
        <label for="message">Your Message:</label>
        <textarea type="text"
                  class="form-control message-input"
                  id="message"
                  required
                  [(ngModel)]="model.message" name="message" #contactMessage="ngModel"></textarea>
      </div>

      <div class="contact-form-button-container">
        <button type="submit"
                class="btn btn-success contact-form-outline-button"
                [disabled]="!contactForm.form.valid">SUBMIT
        </button>
      </div>
    </form>
  </ng-container>
  <ng-container *ngIf="($submitted | async)">
    <ng-container *ngIf="($MailStatus | async) === MailErrorType.NONE">
      <div class="submitted-msg">
        Thanks for your message! We will answer you as soon as possible. <br>
        <a (click)="onClick()"
           style="color: #a33a37; text-decoration: underline; cursor: pointer; font-style: normal">...send another
          message...</a>
      </div>
    </ng-container>
    <ng-container *ngIf="($MailStatus | async) === MailErrorType.SEND || ($MailStatus | async) === MailErrorType.PARSE">
      <div class="submitted-msg">
        Sorry, your mail could not be delivered,<br>maybe your mail address entered is not valid or the mail server is
        having a hangover from its last metal concert.<br>
        <a (click)="onClick()"
           style="color: #a33a37; text-decoration: underline; cursor: pointer; font-style: normal">...try again...</a>
      </div>
    </ng-container>
    <ng-container *ngIf="($MailStatus | async) === MailErrorType.AUTHENTICATION">
      <div class="submitted-msg">
        Sorry, your mail could not be delivered,<br>maybe the mail server is having a hangover from its last metal
        concert.<br>
        <a (click)="onClick()"
           style="color: #a33a37; text-decoration: underline; cursor: pointer; font-style: normal">...try again...</a>
      </div>
    </ng-container>
    <ng-container *ngIf="($MailStatus | async) === MailErrorType.NOT_AVAILABLE">
      <div class="submitted-msg">
        Sorry, your mail could not be delivered,<br> the mail server is not available at present, maybe having a
        hangover from its last metal concert.<br>
        <a style="color: #a33a37; text-decoration: underline; cursor: pointer; font-style: italic"
           href="mailto:phymosis@web.de">Try to send a mail via your own mail service...</a>
      </div>
    </ng-container>
    <ng-container *ngIf="($MailStatus | async) === null">
      <div class="submitted-msg blink">
        ...sending email to phymosis@web.de...
      </div>
    </ng-container>
  </ng-container>

</div>

