@import "src/styles";


.contact-form-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 1.5vw auto 1.5vw auto;
}

.message-input {
  height: 160px;
}

.data-input {
  height: 32px;
}

.contact-form-outline-button {
  font-style: italic;
  color: $MAIN_BACKGROUND;
  border: 5px double $MAIN_BACKGROUND;
  background-color: transparent;
  margin: 1vw auto 1vw auto;
}

.contact-form-outline-button:hover {
  cursor: pointer;
  color: white;
  border: 5px double white;
  background-color: $MAIN_BACKGROUND;
}

.contact-form-outline-button[disabled]:hover {
  cursor: not-allowed;
  background-color: transparent;
}

.contact-form-outline-button:focus {
  outline: none;
}

.contact-form-outline-button:disabled {
  color: $LIGHT_BACKGROUND;
  border: 5px double $LIGHT_BACKGROUND;
}

.contact-form-button-container {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;

  > label {
    font-family: futura-pt;
  }

  > input {
    width: 100%;
    border-radius: 5px;
  }
}

.ng-valid[required], .ng-valid.required {
  border-right: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid darkred; /* red */
}


.submitted-msg {
  font-style: italic;
  margin: 3vw auto 3vw auto;
  font-size: $text-size-medium;
  text-align: center;
}

.blink {
  -webkit-animation: blink .7s linear infinite;
  -moz-animation: blink .7s linear infinite;
  -ms-animation: blink .7s linear infinite;
  -o-animation: blink .7s linear infinite;
  animation: blink .7s linear infinite;
}

.message-input {
  border-radius: 5px;
  width: 100%;
  resize: none;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
}

@media only screen and (max-width: $small_breakpoint_max) {
  .form-group {
    > label {
      font-size: $text-size-small;
    }
  }

  .contact-form-container {
    width: 90%;
  }

  .message-input {
    height: 110px;
    font-size: $text-size-small;
  }

  .data-input {
    height: 22px;
    font-size: $text-size-small;
  }

  .contact-form-outline-button {
    font-size: $text-size-medium;
  }

}

@media only screen and (min-width: $medium_breakpoint_min) and (max-width: $medium_breakpoint_max) {
  .form-group {
    > label {
      font-size: $text-size-small;
    }
  }

  .contact-form-container {
    width: 70%;
  }

  .message-input {
    font-size: $text-size-small;
  }

  .data-input {
    font-size: $text-size-small;
  }
  .contact-form-outline-button {
    font-size: $text-size-medium;
  }
}

@media only screen and (min-width: $big_breakpoint_min) {
  .form-group {
    > label {
      font-size: $text-size-medium;
    }
  }

  .contact-form-container {
    width: 50%;
  }

  .message-input {
    font-size: $text-size-medium;
  }

  .data-input {
    font-size: $text-size-medium;
  }

  .contact-form-outline-button {
    font-size: $text-size-large;
  }
}
