@import "src/styles";

.music-page-main-container {
  background-color: white;
  width: 90vw;
  margin-left: 3.5vw;
  padding: 1vw;

  > .release-content-container {
    width: 100%;

    > .release-content-media-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 2vw;
    }
  }
}

.music-type-selection {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}

.music-type-selector {
  > h2 {
    text-align: center;
    font-style: italic;
    color: $MAIN_BACKGROUND;
    border: 5px double $MAIN_BACKGROUND;
    background-color: transparent;
    transform: scale(1.0);
    transition: 0.15s;
  }

  > h2:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.15s;
  }
}

 .selected {
  > h2 {
    transform: scale(1.1);
    transition: 0.15s;
    color: white;
    border: 5px double white;
    background-color: $MAIN_BACKGROUND;
  }
}
 .music-bottom-container {
   width: 86%;
   padding: 0 7% 0 7%;
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   > span.music-type-selector {
     > h2 {
       font-size: $h2_size_small;
       margin: 0;
     }
   }
 }

@media only screen and (max-width: $tiny_breakpoint_max) {

  .music-type-selector {
    width: 45%;
  }
  .music-page-main-container {
    width: 96vw;
    margin-left: 0;
    padding: 4vw 2vw 4vw 2vw;

    > .release-content-container {
      width: 100%;

      > .release-content-media-container {
        width: 100%;
        display: flex;

        > .release-content-media-frame {
          border: 0;
          width: 95%;
          height: 274px;
        }
        > .song-content-media-frame {
          border: 0;
          width: 95%;
          height: 42px;
        }

      }
    }
  }

  .music-bottom-container {
    width: 96%;
    padding: 0 2% 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    > span.music-type-selector {
      > h2 {
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: $small-breakpoint-min) and (max-width: $small_breakpoint_max) {
  .music-type-selector {
    width: 40%;
  }
  .music-page-main-container {
    width: 96vw;
    margin-left: 0;
    padding: 4vw 2vw 4vw 2vw;

    > .release-content-container {
      width: 100%;

      > .release-content-media-container {
        width: 100%;
        display: flex;

        > .release-content-media-frame {
          border: 0;
          width: 85%;
          height: 274px;
        }

        > .song-content-media-frame {
          border: 0;
          width: 85%;
          height: 42px;
        }

      }
    }
  }
}

@media only screen and (min-width: $medium_breakpoint_min) and (max-width: $medium_breakpoint_max) {
  .music-type-selector {
    width: 35%;
  }
  .release-content-media-frame {
    border: 0;
    width: 80%;
    height: 274px;
  }

  .song-content-media-frame {
    border: 0;
    width: 80%;
    height: 42px;
  }
}

@media only screen and (min-width: $big_breakpoint_min) {
  .music-page-main-container {
    background-color: white;
    width: 76vw;
    margin-left: 10.5vw;
    padding: 1vw;
  }
  .music-type-selector {
    width: 30%;
  }
  .release-content-media-frame {
    border: 0;
    width: 700px;
    height: 274px;
  }

  .song-content-media-frame {
    border: 0;
    width: 700px;
    height: 42px;
  }

  .music-bottom-container {
    width: 80%;
    padding: 0 10% 0 10%;
  }
}
