<div class="music-page-main-container">
  <div class="music-type-selection">
    <span [class]="releasesButtonStyle" (click)="goToReleases()"><h2 style="margin-top: 1vw">RELEASES</h2></span>
    <span [class]="songsButtonStyle" (click)="goToSongs()"><h2 style="margin-top: 1vw">SONGS</h2></span>
  </div>
  <ng-container *ngIf="$fetchedReleaseLinks|async">
    <div class="release-content-container" *ngIf="($currentContentType | async) === ContentType.RELEASE">
      <div class="release-content-media-container"
           *ngFor="let releaseContentBean of getContentBeansByType(ContentType.RELEASE)">
        <ng-container *ngIf="releaseMediaLinks.length > 0">
          <ng-container *ngIf="getReleaseLinkByContentId(releaseContentBean.id) as link">
            <iframe class="release-content-media-frame"
                    [src]="link.mediaLink | bandCampReleaseLink"
                    seamless></iframe>
          </ng-container>
        </ng-container>
      </div>
      <div class="music-bottom-container">
      <span *ngIf="releaseMediaLinks.length < releasesAvailable"
            [class]="songsButtonStyle"
            (click)="loadMoreReleases()"><h2>LOAD MORE</h2></span>
        <span>...support us at <a href="https://phymosis.bandcamp.com/releases"
                                  target="_blank">www.bandcamp.com</a></span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="$fetchedSongLinks">
    <div class="release-content-container" *ngIf="($currentContentType | async) === ContentType.SONG">
      <div class="release-content-media-container"
           *ngFor="let songContentBean of getContentBeansByType(ContentType.SONG)">
        <ng-container *ngIf="songMediaLinks.length > 0">
          <ng-container *ngIf="getSongLinkByContentId(songContentBean.id) as link">
            <iframe class="song-content-media-frame"
                    [src]="link.mediaLink | bandCampSongLink" seamless></iframe>
          </ng-container>
        </ng-container>
      </div>
      <div class="music-bottom-container">
      <span *ngIf="songMediaLinks.length < songsAvailable"
            [class]="releasesButtonStyle"
            (click)="loadMoreSongs()"><h2>LOAD MORE</h2></span>
        <span>...support us at <a href="https://phymosis.bandcamp.com/releases"
                                  target="_blank">www.bandcamp.com</a></span>
      </div>
    </div>
  </ng-container>
</div>
