<div class="impressum-container">

  <div class="impressum-button"
       (click)="toggleImpressum()">IMPRESSUM</div>

  <div *ngIf="impressum === true" class="impressum-text-container">

    <h2 class="adsimple-321174564">Impressum</h2>
    <p class="adsimple-321174564">Informationspflicht laut § 5 TMG.</p>
    <p class="adsimple-321174564">
    <p>Tom Grünewald</p>
    <p class="adsimple-321174564">Ekbertstraße 6 <br> 38122 Braunschweig, <br/>Deutschland</p>
    <p class="adsimple-321174564">
      <strong>E-Mail:</strong> <a href="mailto:phymosis@web.de">phymosis@web.de</a>
    </p>
    <p style="margin-top:15px;">Quelle: Erstellt mit dem <a title="Impressum Generator Deutschland"
                                                            href="https://www.adsimple.de/impressum-generator/"
                                                            target="_blank" rel="follow" style="text-decoration:none;">Impressum
      Generator</a> von AdSimple in Kooperation mit <a href="https://www.bauenwir.de" target="_blank" rel="follow"
                                                       title="">bauenwir.de</a>
    </p>
    <h3 class="adsimple-321174564">EU-Streitschlichtung</h3>
    <p>Gemäß Verordnung über Online-Streitbeilegung in Verbraucherangelegenheiten (ODR-Verordnung) möchten wir Sie über
      die Online-Streitbeilegungsplattform (OS-Plattform) informieren.<br/>
      Verbraucher haben die Möglichkeit, Beschwerden an die Online Streitbeilegungsplattform der Europäischen Kommission
      unter <a class="adsimple-321174564"
               href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE" target="_blank"
               rel="noopener">http://ec.europa.eu/odr?tid=321174564</a> zu richten. Die dafür notwendigen Kontaktdaten
      finden Sie oberhalb in unserem Impressum.</p>
    <p>Wir möchten Sie jedoch darauf hinweisen, dass wir nicht bereit oder verpflichtet sind, an
      Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
    <h3 class="adsimple-321174564">Haftung für Inhalte dieser Website</h3>
    <p>Wir entwickeln die Inhalte dieser Webseite ständig weiter und bemühen uns korrekte und aktuelle Informationen
      bereitzustellen. Laut Telemediengesetz <a class="adsimple-321174564"
                                                href="https://www.gesetze-im-internet.de/tmg/__7.html?tid=321174564"
                                                rel="noopener" target="_blank">(TMG) §7 (1)</a> sind wir als
      Diensteanbieter für eigene Informationen, die wir zur Nutzung bereitstellen, nach den allgemeinen Gesetzen
      verantwortlich. Leider können wir keine Haftung für die Korrektheit aller Inhalte auf dieser Webseite übernehmen,
      speziell für jene die seitens Dritter bereitgestellt wurden. Als Diensteanbieter im Sinne der §§ 8 bis 10 sind wir
      nicht verpflichtet, die von ihnen übermittelten oder gespeicherten Informationen zu überwachen oder nach Umständen
      zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.</p>
    <p>Unsere Verpflichtungen zur Entfernung von Informationen oder zur Sperrung der Nutzung von Informationen nach den
      allgemeinen Gesetzen aufgrund von gerichtlichen oder behördlichen Anordnungen bleiben auch im Falle unserer
      Nichtverantwortlichkeit nach den §§ 8 bis 10 unberührt. </p>
    <p>Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitte wir Sie uns umgehend zu kontaktieren,
      damit wir die rechtswidrigen Inhalte entfernen können. Sie finden die Kontaktdaten im Impressum.</p>
    <h3 class="adsimple-321174564">Haftung für Links auf dieser Website</h3>
    <p>Unsere Webseite enthält Links zu anderen Webseiten für deren Inhalt wir nicht verantwortlich sind. Haftung für
      verlinkte Websites besteht für uns nicht, da wir keine Kenntnis rechtswidriger Tätigkeiten hatten und haben, uns
      solche Rechtswidrigkeiten auch bisher nicht aufgefallen sind und wir Links sofort entfernen würden, wenn uns
      Rechtswidrigkeiten bekannt werden.</p>
    <p>Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitte wir Sie uns zu kontaktieren. Sie finden die
      Kontaktdaten im Impressum.</p>
    <h3 class="adsimple-321174564">Urheberrechtshinweis</h3>
    <p>Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen dem Urheberrecht der Bundesrepublik
      Deutschland. Bitte fragen Sie uns bevor Sie die Inhalte dieser Website verbreiten, vervielfältigen oder verwerten
      wie zum Beispiel auf anderen Websites erneut veröffentlichen. Falls notwendig, werden wir die unerlaubte Nutzung
      von Teilen der Inhalte unserer Seite rechtlich verfolgen.</p>
    <p>Sollten Sie auf dieser Webseite Inhalte finden, die das Urheberrecht verletzen, bitten wir Sie uns zu
      kontaktieren.</p>
    <h3 class="adsimple-321174564" (click)="toggleForm()">Bildernachweis</h3>
    <p>Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich geschützt.</p>
    <p>Die Bilderrechte liegen bei den folgenden Fotografen und Grafikern:</p>
    <ul class="adsimple-321174564">
      <li class="adsimple-321174564">Matthias Pansegrau</li>
      <li class="adsimple-321174564">Tom Grünewald</li>
      <li class="adsimple-321174564">Matthias Koska</li>
      <li class="adsimple-321174564">Richard Gettkant</li>
    </ul>
    <h3>Icons:</h3>
    <h4>Facebook by Freepik:</h4>
    <p>Icons erstellt von <a href="https://www.flaticon.com/de/autoren/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/de/" title="Flaticon"> www.flaticon.com</a>.</p>
    <h4>Youtube-blk by Freepik:</h4>
    <p>Icons erstellt von <a href="https://www.flaticon.com/de/autoren/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/de/" title="Flaticon"> www.flaticon.com</a>.</p>
      <h4>Bandcamp by Freepik:</h4>
    <p>Icons erstellt von <a href="https://www.flaticon.com/de/autoren/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/de/" title="Flaticon"> www.flaticon.com</a>.</p>
        <h4>Bandcamp-bc by Freepik:</h4>
    <p>Icons erstellt von <a href="https://www.flaticon.com/de/autoren/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/de/" title="Flaticon"> www.flaticon.com</a>.</p>
          <h4>Instagram by Freepik:</h4>
    <p>Icons erstellt von <a href="https://www.flaticon.com/de/autoren/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/de/" title="Flaticon">www.flaticon.com</a>.</p>

    <h2 class="adsimple-321174564">Datenschutzerklärung</h2>
    <h3 class="adsimple-321174564">Datenschutz</h3>
    <p>Wir haben diese Datenschutzerklärung (Fassung 06.05.2020-321174564) verfasst, um Ihnen gemäß der Vorgaben der <a
      class="adsimple-321174564"
      href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679&amp;tid=321174564" target="_blank"
      rel="noopener">Datenschutz-Grundverordnung (EU) 2016/679</a> zu erklären, welche Informationen wir sammeln, wie
      wir Daten verwenden und welche Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite haben.</p>
    <p>Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen, wir haben uns bei der
      Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.</p>
    <h3 class="adsimple-321174564">Speicherung persönlicher Daten</h3>
    <p>Persönliche Daten, die Sie uns auf dieser Website elektronisch übermitteln, wie zum Beispiel Name,
      E-Mail-Adresse, Adresse oder andere persönlichen Angaben im Rahmen der Übermittlung eines Formulars oder
      Kommentaren im Blog, werden von uns gemeinsam mit dem Zeitpunkt und der IP-Adresse nur zum jeweils angegebenen
      Zweck verwendet, sicher verwahrt und nicht an Dritte weitergegeben.</p>
    <p>Wir nutzen Ihre persönlichen Daten somit nur für die Kommunikation mit jenen Besuchern, die Kontakt ausdrücklich
      wünschen und für die Abwicklung der auf dieser Webseite angebotenen Dienstleistungen und Produkte. Wir geben Ihre
      persönlichen Daten ohne Zustimmung nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen
      von rechtswidrigem Verhalten eingesehen werden.</p>
    <p>Wenn Sie uns persönliche Daten per E-Mail schicken &#8211; somit abseits dieser Webseite &#8211; können wir keine
      sichere Übertragung und den Schutz Ihrer Daten garantieren. Wir empfehlen Ihnen, vertrauliche Daten niemals
      unverschlüsselt per E-Mail zu übermitteln.</p>
    <p>Die Rechtsgrundlage besteht nach <a class="adsimple-321174564"
                                           href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&amp;from=DE&amp;tid=321174564"
                                           target="_blank" rel="noopener">Artikel 6  Absatz 1 a DSGVO</a>
      (Rechtmäßigkeit der Verarbeitung) darin, dass Sie uns die Einwilligung zur Verarbeitung der von Ihnen eingegebenen
      Daten geben. Sie können diesen Einwilligung jederzeit widerrufen &#8211; eine formlose E-Mail reicht aus, Sie
      finden unsere Kontaktdaten im Impressum.</p>
    <h3 class="adsimple-321174564">Rechte laut Datenschutzgrundverordnung</h3>
    <p>Ihnen stehen laut den Bestimmungen der DSGVO grundsätzlich die folgende Rechte zu:</p>
    <ul class="adsimple-321174564">
      <li class="adsimple-321174564">Recht auf Berichtigung (Artikel 16 DSGVO)</li>
      <li class="adsimple-321174564">Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</li>
      <li class="adsimple-321174564">Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</li>
      <li class="adsimple-321174564">Recht auf Benachrichtigung &#8211; Mitteilungspflicht im Zusammenhang mit der
        Berichtigung oder Löschung personenbezogener Daten oder der Einschränkung der Verarbeitung (Artikel 19 DSGVO)
      </li>
      <li class="adsimple-321174564">Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
      <li class="adsimple-321174564">Widerspruchsrecht (Artikel 21 DSGVO)</li>
      <li class="adsimple-321174564">Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung —
        einschließlich Profiling — beruhenden Entscheidung unterworfen zu werden (Artikel 22 DSGVO)
      </li>
    </ul>
    <p>Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
      datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich an die <a
        class="adsimple-321174564" class="321174564" href="https://www.bfdi.bund.de" target="_blank" rel="noopener">Bundesbeauftragte
        für den Datenschutz und die Informationsfreiheit (BfDI)</a> wenden.</p>
    <h3 class="adsimple-321174564">Eingebettete Social Media Elemente Datenschutzerklärung</h3>
    <p>Wir binden auf unserer Webseite Elemente von Social Media Diensten ein um Bilder, Videos und Texte
      anzuzeigen.<br/>
      Durch den Besuch von Seiten die diese Elemente darstellen, werden Daten von Ihrem Browser zum jeweiligen Social
      Media Dienst übertragen und dort gespeichert. Wir haben keinen Zugriff auf diese Daten.<br/>
      Die folgenden Links führen Sie zu den Seiten der jeweiligen Social Media Dienste wo erklärt wird, wie diese mit
      Ihren Daten umgehen:</p>
    <ul class="adsimple-321174564">
      <li class="adsimple-321174564">Instagram-Datenschutzrichtlinie: <a class="adsimple-321174564"
                                                                         href="https://help.instagram.com/519522125107875?tid=321174564"
                                                                         target="_blank" rel="noopener">https://help.instagram.com/519522125107875</a>
      </li>
      <li class="adsimple-321174564">Für YouTube gilt die Google Datenschutzerklärung: <a class="adsimple-321174564"
                                                                                          href="https://policies.google.com/privacy?hl=de&amp;tid=321174564"
                                                                                          target="_blank"
                                                                                          rel="noopener">https://policies.google.com/privacy?hl=de</a>
      </li>
      <li class="adsimple-321174564">Facebook-Datenrichtline: <a class="adsimple-321174564"
                                                                 href="https://www.facebook.com/about/privacy?tid=321174564"
                                                                 target="_blank" rel="noopener">https://www.facebook.com/about/privacy</a>
      </li>
      <li class="adsimple-321174564">Bandcamp Datenschutzrichtlinie: <a class="adsimple-321174564"
                                                                       href="https://bandcamp.com/privacy"
                                                                       target="_blank" rel="noopener">https://bandcamp.com/privacy</a>
      </li>
    </ul>
    <h3 class="adsimple-321174564">Google Maps Datenschutzerklärung</h3>
    <p>Wir benützen auf unserer Website Google Maps der Firma Google Inc. Für den europäischen Raum ist das Unternehmen
      Google Ireland Limited (Gordon House, Barrow Street Dublin 4, Irland) für alle Google-Dienste verantwortlich. Mit
      Google Maps können wir Ihnen Standorte besser zeigen und damit unser Service an Ihre Bedürfnisse anpassen. Durch
      die Verwendung von Google Maps werden Daten an Google übertragen und auf den Google-Servern gespeichert. Hier
      wollen wir nun genauer darauf eingehen, was Google Maps ist, warum wir diesen Google-Dienst in Anspruch nehmen,
      welche Daten gespeichert werden und wie Sie dies unterbinden können.</p>
    <h4 class="adsimple-321174564">Was ist Google Maps?</h4>
    <p>Google Maps ist ein Internet-Kartendienst der Firma Google. Mit Google Maps können Sie online über einen PC, ein
      Tablet oder eine App genaue Standorte von Städten, Sehenswürdigkeiten, Unterkünften oder Unternehmen suchen. Wenn
      Unternehmen auf Google My Business vertreten sind, werden neben dem Standort noch weitere Informationen über die
      Firma angezeigt. Um die Anfahrtsmöglichkeit anzuzeigen, können Kartenausschnitte eines Standorts mittels HTML-Code
      in eine Website eingebunden werden. Google Maps zeigt die Erdoberfläche als Straßenkarte oder als Luft- bzw.
      Satellitenbild. Dank der Street View Bilder und den hochwertigen Satellitenbildern sind sehr genaue Darstellungen
      möglich.</p>
    <h4 class="adsimple-321174564">Warum verwenden wir Google Maps auf unserer Webseite?</h4>
    <p>All unsere Bemühungen auf dieser Seite verfolgen das Ziel, Ihnen eine nützliche und sinnvolle Zeit auf unserer
      Webseite zu bieten. Durch die Einbindung von Google Maps können wir Ihnen die wichtigsten Informationen zu
      diversen Standorten liefern. Sie sehen auf einen Blick wo wir unseren Firmensitz haben. Die Wegbeschreibung zeigt
      Ihnen immer den besten bzw. schnellsten Weg zu uns. Sie können den Anfahrtsweg für Routen mit dem Auto, mit
      öffentlichen Verkehrsmitteln, zu Fuß oder mit dem Fahrrad abrufen. Für uns ist die Bereitstellung von Google Maps
      Teil unseres Kundenservice.</p>
    <h4 class="adsimple-321174564">Welche Daten werden von Google Maps gespeichert?</h4>
    <p>Damit Google Maps ihren Dienst vollständig anbieten kann, muss das Unternehmen Daten von Ihnen aufnehmen und
      speichern. Dazu zählen unter anderem die eingegebenen Suchbegriffe, Ihre IP-Adresse und auch die Breiten- bzw.
      Längenkoordinaten. Benutzen Sie die Routenplaner-Funktion wird auch die eingegebene Startadresse gespeichert.
      Diese Datenspeicherung passiert allerdings auf den Webseiten von Google Maps. Wir können Sie darüber nur
      informieren, aber keinen Einfluss nehmen. Da wir Google Maps in unsere Webseite eingebunden haben, setzt Google
      mindestens ein Cookie (Name: NID) in Ihrem Browser. Dieses Cookie speichert Daten über Ihr Userverhalten. Google
      nutzt diese Daten in erster Linie, um eigene Dienste zu optimieren und individuelle, personalisierte Werbung für
      Sie bereitzustellen.</p>
    <p>Folgendes Cookie wird aufgrund der Einbindung von Google Maps in Ihrem Browser gesetzt:</p>
    <p>
      <strong class="adsimple-321174564">Name:</strong> NID<br/>
      <strong class="adsimple-321174564">Wert:</strong> 188=h36c1Ktha7fCQTx8rXgLyATyITJ321174564-5<br/>
      <strong class="adsimple-321174564">Verwendungszweck:</strong> NID wird von Google verwendet, um Werbeanzeigen an
      Ihre Google-Suche anzupassen. Mit Hilfe des Cookies „erinnert“ sich Google an Ihre am häufigsten eingegebenen
      Suchanfragen oder Ihre frühere Interaktion mit Anzeigen. So bekommen Sie immer maßgeschneiderte Werbeanzeigen. Das
      Cookie enthält eine einzigartige ID, die Google benutzt, um Ihre persönlichen Einstellungen für Werbezwecke zu
      sammeln.<br/>
      <strong class="adsimple-321174564">Ablaufdatum:</strong> nach 6 Monaten</p>
    <p>
      <strong class="adsimple-321174564">Anmerkung:</strong> Wir können bei den Angaben der gespeicherten Daten keine
      Vollständigkeit gewährleisten. Speziell bei der Verwendung von Cookies sind Veränderungen nie auszuschließen. Um
      das Cookie NID zu identifizieren, wurde eine eigene Testseite angelegt, wo ausschließlich Google Maps eingebunden
      war.</p>
    <h4 class="adsimple-321174564">Wie lange und wo werden die Daten gespeichert?</h4>
    <p>Die Google-Server stehen in Rechenzentren auf der ganzen Welt. Die meisten Server befinden sich allerdings in
      Amerika. Aus diesem Grund werden Ihre Daten auch vermehrt in den USA gespeichert. Hier können Sie genau nachlesen
      wo sich die Google-Rechenzentren befinden: <a class="adsimple-321174564"
                                                    href="https://www.google.com/about/datacenters/inside/locations/?hl=de"
                                                    target="_blank" rel="noopener noreferrer">https://www.google.com/about/datacenters/inside/locations/?hl=de</a>
    </p>
    <p>Die Daten verteilt Google auf verschiedenen Datenträgern. Dadurch sind die Daten schneller abrufbar und werden
      vor etwaigen Manipulationsversuchen besser geschützt. Jedes Rechenzentrum hat auch spezielle Notfallprogramme.
      Wenn es zum Beispiel Probleme bei der Google-Hardware gibt oder eine Naturkatastrophe die Server lahm legt,
      bleiben die Daten ziemlich sicher trotzdem geschützt.</p>
    <p>Manche Daten speichert Google für einen festgelegten Zeitraum. Bei anderen Daten bietet Google lediglich die
      Möglichkeit, diese manuell zu löschen. Weiters anonymisiert das Unternehmen auch Informationen (wie zum Beispiel
      Werbedaten) in Serverprotokollen, indem es einen Teil der IP-Adresse und Cookie-Informationen nach 9 bzw.18
      Monaten löscht.</p>
    <h4 class="adsimple-321174564">Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h4>
    <p>Mit der 2019 eingeführten automatischen Löschfunktion von Standort- und Aktivitätsdaten werden Informationen zur
      Standortbestimmung und Web-/App-Aktivität &#8211; abhängig von Ihrer Entscheidung &#8211; entweder 3 oder 18
      Monate gespeichert und dann gelöscht. Zudem kann man diese Daten über das Google-Konto auch jederzeit manuell aus
      dem Verlauf löschen. Wenn Sie Ihre Standorterfassung vollständig verhindern wollen, müssen Sie im Google-Konto die
      Rubrik „Web- und App-Aktivität“ pausieren. Klicken Sie „Daten und Personalisierung“ und dann auf die Option
      „Aktivitätseinstellung“. Hier können Sie die Aktivitäten ein- oder ausschalten.</p>
    <p>In Ihrem Browser können Sie weiters auch einzelne Cookies deaktivieren, löschen oder verwalten. Je nach dem
      welchen Browser Sie verwenden, funktioniert dies immer etwas anders. Die folgenden Anleitungen zeigen, wie Sie
      Cookies in Ihrem Browser verwalten:</p>
    <p>
      <a class="adsimple-321174564" href="https://support.google.com/chrome/answer/95647?tid=321174564" target="_blank"
         rel="noopener noreferrer">Chrome: Cookies in Chrome löschen, aktivieren und verwalten</a>
    </p>
    <p>
      <a class="adsimple-321174564" href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=321174564"
         target="_blank" rel="noopener noreferrer">Safari: Verwalten von Cookies und Websitedaten mit Safari</a>
    </p>
    <p>
      <a class="adsimple-321174564"
         href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=321174564"
         target="_blank" rel="noopener noreferrer">Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf
        Ihrem Computer abgelegt haben</a>
    </p>
    <p>
      <a class="adsimple-321174564"
         href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=321174564"
         target="_blank" rel="noopener noreferrer">Internet Explorer: Löschen und Verwalten von Cookies</a>
    </p>
    <p>
      <a class="adsimple-321174564"
         href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=321174564" target="_blank"
         rel="noopener noreferrer">Microsoft Edge: Löschen und Verwalten von Cookies</a>
    </p>
    <p>Falls Sie grundsätzlich keine Cookies haben wollen, können Sie Ihren Browser so einrichten, dass er Sie immer
      informiert, wenn ein Cookie gesetzt werden soll. So können Sie bei jedem einzelnen Cookie entscheiden, ob Sie es
      erlauben oder nicht.</p>
    <p>Google ist aktiver Teilnehmer beim EU-U.S. Privacy Shield Framework, wodurch der korrekte und sichere
      Datentransfer persönlicher Daten geregelt wird. Mehr Informationen dazu finden Sie auf <a
        class="adsimple-321174564" href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI"
        target="_blank"
        rel="follow noopener noreferrer">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI</a>. Wenn Sie
      mehr über die Datenverarbeitung von Google erfahren wollen, empfehlen wir Ihnen die hauseigene
      Datenschutzerklärung des Unternehmens unter <a class="adsimple-321174564"
                                                     href="https://policies.google.com/privacy?hl=de" target="_blank"
                                                     rel="noopener noreferrer">https://policies.google.com/privacy?hl=de</a>.
    </p>
    <h3 class="adsimple-321174564">YouTube Datenschutzerklärung</h3>
    <p>Wir haben auf unserer Website YouTube-Videos eingebaut. So können wir Ihnen interessante Videos direkt auf
      unserer Seite präsentieren. YouTube ist ein Videoportal, das seit 2006 eine Tochterfirma von Google ist. Betrieben
      wird das Videoportal durch YouTube, LLC, 901 Cherry Ave., San Bruno, CA 94066, USA. Wenn Sie auf unserer Website
      eine Seite aufrufen, die ein YouTube-Video eingebettet hat, verbindet sich Ihr Browser automatisch mit den Servern
      von YouTube bzw. Google. Dabei werden (je nach Einstellungen) verschiedene Daten übertragen. Für die gesamte
      Datenverarbeitung im europäischen Raum ist Google Ireland Limited (Gordon House, Barrow Street Dublin 4, Irland)
      verantwortlich.</p>
    <p>Im Folgenden wollen wir Ihnen genauer erklären, welche Daten verarbeitet werden, warum wir YouTube-Videos
      eingebunden haben und wie Sie Ihre Daten verwalten oder löschen können.</p>
    <h4 class="adsimple-321174564">Was ist YouTube?</h4>
    <p>Auf YouTube können die User kostenlos Videos ansehen, bewerten, kommentieren und selbst hochladen. Über die
      letzten Jahre wurde YouTube zu einem der wichtigsten Social-Media-Kanäle weltweit. Damit wir Videos auf unserer
      Webseite anzeigen können, stellt YouTube einen Codeausschnitt zur Verfügung, den wir auf unserer Seite eingebaut
      haben.</p>
    <h4 class="adsimple-321174564">Warum verwenden wir YouTube-Videos auf unserer Webseite?</h4>
    <p>YouTube ist die Videoplattform mit den meisten Besuchern und dem besten Content. Wir sind bemüht, Ihnen die
      bestmögliche User-Erfahrung auf unserer Webseite zu bieten. Und natürlich dürfen interessante Videos dabei nicht
      fehlen. Mithilfe unserer eingebetteten Videos stellen wir Ihnen neben unseren Texten und Bildern weiteren
      hilfreichen Content zur Verfügung. Zudem wird unsere Webseite auf der Google-Suchmaschine durch die eingebetteten
      Videos leichter gefunden. Auch wenn wir über Google Ads Werbeanzeigen schalten, kann Google – dank der gesammelten
      Daten – diese Anzeigen wirklich nur Menschen zeigen, die sich für unsere Angebote interessieren.</p>
    <h4 class="adsimple-321174564">Welche Daten werden von YouTube gespeichert?</h4>
    <p>Sobald Sie eine unserer Seiten besuchen, die ein YouTube-Video eingebaut hat, setzt YouTube zumindest ein Cookie,
      das Ihre IP-Adresse und unsere URL speichert. Wenn Sie in Ihrem YouTube-Konto eingeloggt sind, kann YouTube Ihre
      Interaktionen auf unserer Webseite meist mithilfe von Cookies Ihrem Profil zuordnen. Dazu zählen Daten wie
      Sitzungsdauer, Absprungrate, ungefährer Standort, technische Informationen wie Browsertyp, Bildschirmauflösung
      oder Ihr Internetanbieter. Weitere Daten können Kontaktdaten, etwaige Bewertungen, das Teilen von Inhalten über
      Social Media oder das Hinzufügen zu Ihren Favoriten auf YouTube sein.</p>
    <p>Wenn Sie nicht in einem Google-Konto oder einem Youtube-Konto angemeldet sind, speichert Google Daten mit einer
      eindeutigen Kennung, die mit Ihrem Gerät, Browser oder App verknüpft sind. So bleibt beispielsweise Ihre
      bevorzugte Spracheinstellung beibehalten. Aber viele Interaktionsdaten können nicht gespeichert werden, da weniger
      Cookies gesetzt werden.</p>
    <p>In der folgenden Liste zeigen wir Cookies, die in einem Test im Browser gesetzt wurden. Wir zeigen einerseits
      Cookies, die ohne angemeldeten YouTube-Konto gesetzt werden. Andererseits zeigen wir Cookies, die mit angemeldetem
      Account gesetzt werden. Die Liste kann keinen Vollständigkeitsanspruch erheben, weil die Userdaten immer von den
      Interaktionen auf YouTube abhängen.</p>
    <p>
      <strong class="adsimple-321174564">Name:</strong> YSC<br/>
      <strong class="adsimple-321174564">Wert:</strong> b9-CV6ojI5Y321174564-1<br/>
      <strong class="adsimple-321174564">Verwendungszweck:</strong> Dieses Cookie registriert eine eindeutige ID, um
      Statistiken des gesehenen Videos zu speichern.<br/>
      <strong class="adsimple-321174564">Ablaufdatum:</strong> nach Sitzungsende</p>
    <p>
      <strong class="adsimple-321174564">Name:</strong> PREF<br/>
      <strong class="adsimple-321174564">Wert:</strong> f1=50000000<br/>
      <strong class="adsimple-321174564">Verwendungszweck:</strong> Dieses Cookie registriert ebenfalls Ihre eindeutige
      ID. Google bekommt über PREF Statistiken, wie Sie YouTube-Videos auf unserer Webseite verwenden.<br/>
      <strong class="adsimple-321174564">Ablaufdatum:</strong> nach 8 Monaten</p>
    <p>
      <strong class="adsimple-321174564">Name:</strong> GPS<br/>
      <strong class="adsimple-321174564">Wert:</strong> 1<br/>
      <strong class="adsimple-321174564">Verwendungszweck:</strong> Dieses Cookie registriert Ihre eindeutige ID auf
      mobilen Geräten, um den GPS-Standort zu tracken.<br/>
      <strong class="adsimple-321174564">Ablaufdatum:</strong> nach 30 Minuten</p>
    <p>
      <strong class="adsimple-321174564">Name:</strong> VISITOR_INFO1_LIVE<br/>
      <strong class="adsimple-321174564">Wert:</strong> 95Chz8bagyU<br/>
      <strong class="adsimple-321174564">Verwendungszweck:</strong> Dieses Cookie versucht die Bandbreite des Users auf
      unseren Webseiten (mit eingebautem YouTube-Video) zu schätzen.<br/>
      <strong class="adsimple-321174564">Ablaufdatum:</strong> nach 8 Monaten</p>
    <p>Weitere Cookies, die gesetzt werden, wenn Sie mit Ihrem YouTube-Konto angemeldet sind:</p>
    <p>
      <strong class="adsimple-321174564">Name:</strong> APISID<br/>
      <strong class="adsimple-321174564">Wert:</strong> zILlvClZSkqGsSwI/AU1aZI6HY7321174564-<br/>
      <strong class="adsimple-321174564">Verwendungszweck:</strong> Dieses Cookie wird verwendet, um ein Profil über
      Ihre Interessen zu erstellen. Genützt werden die Daten für personalisierte Werbeanzeigen.<br/>
      <strong class="adsimple-321174564">Ablaufdatum:</strong> nach 2 Jahren</p>
    <p>
      <strong class="adsimple-321174564">Name:</strong> CONSENT<br/>
      <strong class="adsimple-321174564">Wert:</strong> YES+AT.de+20150628-20-0<br/>
      <strong class="adsimple-321174564">Verwendungszweck:</strong> Das Cookie speichert den Status der Zustimmung eines
      Users zur Nutzung unterschiedlicher Services von Google. CONSENT dient auch der Sicherheit, um User zu überprüfen
      und Userdaten vor unbefugten Angriffen zu schützen.<br/>
      <strong class="adsimple-321174564">Ablaufdatum: </strong>nach 19 Jahren</p>
    <p>
      <strong class="adsimple-321174564">Name:</strong> HSID<br/>
      <strong class="adsimple-321174564">Wert:</strong> AcRwpgUik9Dveht0I<br/>
      <strong class="adsimple-321174564">Verwendungszweck:</strong> Dieses Cookie wird verwendet, um ein Profil über
      Ihre Interessen zu erstellen. Diese Daten helfen personalisierte Werbung anzeigen zu können.<br/>
      <strong class="adsimple-321174564">Ablaufdatum:</strong> nach 2 Jahren</p>
    <p>
      <strong class="adsimple-321174564">Name:</strong> LOGIN_INFO<br/>
      <strong class="adsimple-321174564">Wert:</strong> AFmmF2swRQIhALl6aL…<br/>
      <strong class="adsimple-321174564">Verwendungszweck:</strong> In diesem Cookie werden Informationen über Ihre
      Login-Daten gespeichert.<br/>
      <strong class="adsimple-321174564">Ablaufdatum:</strong> nach 2 Jahren</p>
    <p>
      <strong class="adsimple-321174564">Name:</strong> SAPISID<br/>
      <strong class="adsimple-321174564">Wert:</strong> 7oaPxoG-pZsJuuF5/AnUdDUIsJ9iJz2vdM<br/>
      <strong class="adsimple-321174564">Verwendungszweck:</strong> Dieses Cookie funktioniert, indem es Ihren Browser
      und Ihr Gerät eindeutig identifiziert. Es wird verwendet, um ein Profil über Ihre Interessen zu erstellen.<br/>
      <strong class="adsimple-321174564">Ablaufdatum:</strong> nach 2 Jahren</p>
    <p>
      <strong class="adsimple-321174564">Name:</strong> SID<br/>
      <strong class="adsimple-321174564">Wert:</strong> oQfNKjAsI321174564-<br/>
      <strong class="adsimple-321174564">Verwendungszweck:</strong> Dieses Cookie speichert Ihre Google-Konto-ID und
      Ihren letzten Anmeldezeitpunkt in digital signierter und verschlüsselter Form.<br/>
      <strong class="adsimple-321174564">Ablaufdatum:</strong> nach 2 Jahren</p>
    <p>
      <strong class="adsimple-321174564">Name:</strong> SIDCC<br/>
      <strong class="adsimple-321174564">Wert:</strong> AN0-TYuqub2JOcDTyL<br/>
      <strong class="adsimple-321174564">Verwendungszweck:</strong> Dieses Cookie speichert Informationen, wie Sie die
      Webseite nutzen und welche Werbung Sie vor dem Besuch auf unserer Seite möglicherweise gesehen haben.<br/>
      <strong class="adsimple-321174564">Ablaufdatum:</strong> nach 3 Monaten</p>
    <h4 class="adsimple-321174564">Wie lange und wo werden die Daten gespeichert?</h4>
    <p>Die Daten, die YouTube von Ihnen erhält und verarbeitet werden auf den Google-Servern gespeichert. Die meisten
      dieser Server befinden sich in Amerika. Unter <a class="adsimple-321174564"
                                                       href="https://www.google.com/about/datacenters/inside/locations/?hl=de"
                                                       target="_blank" rel="noopener noreferrer">https://www.google.com/about/datacenters/inside/locations/?hl=de</a>
       sehen Sie genau wo sich die Google-Rechenzentren befinden. Ihre Daten sind auf den Servern verteilt. So sind die
      Daten schneller abrufbar und vor Manipulation besser geschützt.</p>
    <p>Die erhobenen Daten speichert Google unterschiedlich lang. Manche Daten können Sie jederzeit löschen, andere
      werden automatisch nach einer begrenzten Zeit gelöscht und wieder andere werden von Google über längere Zeit
      gespeichert. Einige Daten (wie Elemente aus „Meine Aktivität“, Fotos oder Dokumente, Produkte), die in Ihrem
      Google-Konto gespeichert sind, bleiben so lange gespeichert, bis Sie sie löschen. Auch wenn Sie nicht in einem
      Google-Konto angemeldet sind, können Sie einige Daten, die mit Ihrem Gerät, Browser oder App verknüpft sind,
      löschen.</p>
    <h4 class="adsimple-321174564">Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h4>
    <p>Grundsätzlich können Sie Daten im Google Konto manuell löschen. Mit der 2019 eingeführten automatische
      Löschfunktion von Standort- und Aktivitätsdaten werden Informationen abhängig von Ihrer Entscheidung &#8211;
      entweder 3 oder 18 Monate gespeichert und dann gelöscht.</p>
    <p>Unabhängig, ob Sie ein Google-Konto haben oder nicht, können Sie Ihren Browser so konfigurieren, dass Cookies von
      Google gelöscht bzw. deaktiviert werden. Je nach dem welchen Browser Sie verwenden, funktioniert dies auf
      unterschiedliche Art und Weise. Die folgenden Anleitungen zeigen, wie Sie Cookies in Ihrem Browser verwalten:</p>
    <p>
      <a class="adsimple-321174564" href="https://support.google.com/chrome/answer/95647?tid=321174564" target="_blank"
         rel="noopener noreferrer">Chrome: Cookies in Chrome löschen, aktivieren und verwalten</a>
    </p>
    <p>
      <a class="adsimple-321174564" href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=321174564"
         target="_blank" rel="noopener noreferrer">Safari: Verwalten von Cookies und Websitedaten mit Safari</a>
    </p>
    <p>
      <a class="adsimple-321174564"
         href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=321174564"
         target="_blank" rel="noopener noreferrer">Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf
        Ihrem Computer abgelegt haben</a>
    </p>
    <p>
      <a class="adsimple-321174564"
         href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=321174564"
         target="_blank" rel="noopener noreferrer">Internet Explorer: Löschen und Verwalten von Cookies</a>
    </p>
    <p>
      <a class="adsimple-321174564"
         href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=321174564" target="_blank"
         rel="noopener noreferrer">Microsoft Edge: Löschen und Verwalten von Cookies</a>
    </p>
    <p>Falls Sie grundsätzlich keine Cookies haben wollen, können Sie Ihren Browser so einrichten, dass er Sie immer
      informiert, wenn ein Cookie gesetzt werden soll. So können Sie bei jedem einzelnen Cookie entscheiden, ob Sie es
      erlauben oder nicht. Da YouTube ein Tochterunternehmen von Google ist, gibt es eine gemeinsame
      Datenschutzerklärung. Wenn Sie mehr über den Umgang mit Ihren Daten erfahren wollen, empfehlen wir Ihnen die
      Datenschutzerklärung unter <a class="adsimple-321174564" href="https://policies.google.com/privacy?hl=de"
                                    target="_blank"
                                    rel="noopener noreferrer">https://policies.google.com/privacy?hl=de.</a>
    </p>
    <h3 class="adsimple-321174564">YouTube Abonnieren Button Datenschutzerklärung</h3>
    <p>Wir haben auf unserer Webseite den YouTube Abonnieren Button (engl. „Subscribe-Button“) eingebaut. Sie erkennen
      den Button meist am klassischen YouTube-Logo. Das Logo zeigt vor rotem Hintergrund in weißer Schrift die Wörter
      „Abonnieren“ oder „YouTube“ und links davon das weiße „Play-Symbol“. Der Button kann aber auch in einem anderen
      Design dargestellt sein.</p>
    <p>Unser YouTube-Kanal bietet Ihnen immer wieder lustige, interessante oder spannende Videos. Mit dem eingebauten
      „Abonnieren-Button“ können Sie unseren Kanal direkt von unserer Webseite aus abonnieren und müssen nicht eigens
      die YouTube-Webseite aufrufen. Wir wollen Ihnen somit den Zugang zu unserem umfassenden Content so einfach wie
      möglich machen. Bitte beachten Sie, dass YouTube dadurch Daten von Ihnen speichern und verarbeiten kann.</p>
    <p>Wenn Sie auf unserer Seite einen eingebauten Abo-Button sehen, setzt YouTube &#8211; laut Google &#8211;
      mindestens ein Cookie. Dieses Cookie speichert Ihre IP-Adresse und unsere URL. Auch Informationen über Ihren
      Browser, Ihren ungefähren Standort und Ihre voreingestellte Sprache kann YouTube so erfahren. Bei unserem Test
      wurden folgende vier Cookies gesetzt, ohne bei YouTube angemeldet zu sein:</p>
    <p>
      <strong class="adsimple-321174564">Name:</strong> YSC<br/>
      <strong class="adsimple-321174564">Wert:</strong> b9-CV6ojI5321174564Y<br/>
      <strong class="adsimple-321174564">Verwendungszweck:</strong> Dieses Cookie registriert eine eindeutige ID, um
      Statistiken des gesehenen Videos zu speichern.<br/>
      <strong class="adsimple-321174564">Ablaufdatum:</strong> nach Sitzungsende</p>
    <p>
      <strong class="adsimple-321174564">Name:</strong> PREF<br/>
      <strong class="adsimple-321174564">Wert:</strong> f1=50000000<br/>
      <strong class="adsimple-321174564">Verwendungszweck:</strong> Dieses Cookie registriert ebenfalls Ihre eindeutige
      ID. Google bekommt über PREF Statistiken, wie Sie YouTube-Videos auf unserer Webseite verwenden.<br/>
      <strong class="adsimple-321174564">Ablaufdatum:</strong> nach 8 Monate</p>
    <p>
      <strong class="adsimple-321174564">Name:</strong> GPS<br/>
      <strong class="adsimple-321174564">Wert:</strong> 1<br/>
      <strong class="adsimple-321174564">Verwendungszweck:</strong> Dieses Cookie registriert Ihre eindeutige ID auf
      mobilen Geräten, um den GPS-Standort zu tracken.<br/>
      <strong class="adsimple-321174564">Ablaufdatum:</strong> nach 30 Minuten</p>
    <p>
      <strong class="adsimple-321174564">Name:</strong> VISITOR_INFO1_LIVE<br/>
      <strong class="adsimple-321174564">Wert:</strong> 32117456495Chz8bagyU<br/>
      <strong class="adsimple-321174564">Verwendungszweck:</strong> Dieses Cookie versucht die Bandbreite des Users auf
      unseren Webseiten (mit eingebautem YouTube-Video) zu schätzen.<br/>
      <strong class="adsimple-321174564">Ablaufdatum:</strong> nach 8 Monaten</p>
    <p>
      <strong class="adsimple-321174564">Anmerkung:</strong> Diese Cookies wurden nach einem Test gesetzt und können
      nicht den Anspruch auf Vollständigkeit erheben.</p>
    <p>Wenn Sie in Ihrem YouTube-Konto angemeldet sind, kann YouTube viele Ihrer Handlungen/Interaktionen auf unserer
      Webseite mit Hilfe von Cookies speichern und Ihrem YouTube-Konto zuordnen. YouTube bekommt dadurch zum Beispiel
      Informationen wie lange Sie auf unserer Seite surfen, welchen Browsertyp Sie verwenden, welche Bildschirmauflösung
      Sie bevorzugen oder welche Handlungen Sie ausführen.</p>
    <p>YouTube verwendet diese Daten zum einen um die eigenen Dienstleistungen und Angebote zu verbessern, zum anderen
      um Analysen und Statistiken für Werbetreibende (die Google Ads verwenden) bereitzustellen.</p>
    <p style="margin-top:15px;">Quelle: Erstellt mit dem <a title="Datenschutz Generator Deutschland"
                                                            href="https://www.adsimple.de/datenschutz-generator/"
                                                            target="_blank" rel="follow" style="text-decoration:none;">Datenschutz
      Generator</a> von AdSimple in Kooperation mit <a href="https://www.slashtechnik.de" target="_blank" rel="follow"
                                                       title="">slashtechnik.de</a>
    </p>

    <div class="form-container" *ngIf="form">
      <phy-login-form></phy-login-form>
    </div>
  </div>
</div>
