@import "src/styles";

.impressum-container {
  user-select: none;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  > .impressum-button {
    font-size: $text-size-small;
    color: white;
    background-color: black;
    margin: 2vw auto 10vh auto;
    text-decoration: underline;
    cursor: pointer;
  }

  > .impressum-text-container {
    color: white;
    background-color: black;
    margin: 2vw 2vw 10vh 2vw;
  }
}

