
:root {
}

$tiny-breakpoint-max: 480px;
$small-breakpoint-min: 481px;
$small_breakpoint_max: 799px;
$medium_breakpoint_min: 800px;
$medium_breakpoint_max: 1023px;
$big_breakpoint_min: 1024px;

$MAIN_BACKGROUND: #a33a37;
$MAIN_TEXT_COLOR: black;
$SECONDARY_BACKGROUND: #d89a5a;
$SECONDARY_TEXT_COLOR: white;
$LIGHT_BACKGROUND: #dad6d6;


$header_size_small: 42px;
$header_size_medium: 56px;
$header_size_large: 64px;

$h1_size_small: 34px;
$h1_size_medium: 48px;
$h1_size_large: 56px;

$h2_size_small: 28px;
$h2_size_medium: 40px;
$h2_size_large: 48px;

$text-size-tiny: 11px;
$text-size-small: 16px;
$text-size-medium: 18px;
$text-size-large: 22px;

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
}

a {
  color: $MAIN_BACKGROUND;
}

@media only screen and (max-width: $tiny_breakpoint_max) {
  h1 {
    font-size: $h1_size_medium;
    font-weight: bold;
  }
  h2 {
    font-size: $h2_size_small;
    font-weight: normal;
  }
  .text {
    font-size: $text-size-tiny;
  }
}

@media only screen and (max-width: $small_breakpoint_min) and (max-width: $small_breakpoint_max) {
  h1 {
    font-size: $h1_size_medium;
    font-weight: bold;
  }
  h2 {
    font-size: $h2_size_small;
    font-weight: normal;
  }
  .text {
    font-size: $text-size-small;
  }
}

@media only screen and (min-width: $medium_breakpoint_min) and (max-width: $medium_breakpoint_max) {
  h1 {
    font-size: $h1_size_medium;
    font-weight: bolder;
  }
  h2 {
    font-size: $h2_size_medium;
    font-weight: bold;
  }
  .text {
    font-size: $text-size-medium;
  }
}

@media only screen and (min-width: $big_breakpoint_min) {
  h1 {
    font-size: $h1_size_large;
    font-weight: bolder;
  }
  h2 {
    font-size: $h2_size_large;
    font-weight: bold;
  }
  .text {
    font-size: $text-size-large;
  }
}
