.login-form-container {
  > form {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-items: center;

    > .form-group {
      margin: 1vw;
    }
  }
}
