<div class="login-form-container">
  <ng-container *ngIf="($user | async) === null">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

      <div class="form-group">
        <label for="name">Name: </label>
        <input type="text"
               class="form-control data-input"
               id="name"
               required
               [(ngModel)]="model.name" name="name" #loginName="ngModel">
      </div>

      <div class="form-group">
        <label for="email">Password: </label>
        <input type="password"
               class="form-control data-input"
               id="email"
               required
               [(ngModel)]="model.password" name="email" #loginEmail="ngModel">
      </div>

      <div class="contact-form-button-container">
        <button type="submit"
                class="btn btn-success contact-form-outline-button"
                [disabled]="!loginForm.form.valid || ($user | async) !== null" (click)="onSubmit()">SUBMIT
        </button>
      </div>
    </form>
  </ng-container>
</div>
