@import "src/styles";

.contact-page-main
{
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96vw;
  background-color: white;

  > span {
    text-align: center;
  }
  .contact-page-top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    > span {
      text-align: center;
    }
  }
  .contact-page-form-container {
    width: 100%;
  }
  .contact-page-bottom-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    > span {
      margin: 1vw;
    }
  }
}


.navigation-row-icon {
  cursor: pointer;
}

.navigation-row-element:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.15s;
}

.navigation-row-element:focus {
  outline-width: 0;
}

@media only screen and (max-width: $small_breakpoint_max) {
  .contact-page-main {
    padding: 4vw 2vw 4vw 2vw;
  }
  .navigation-row-icon {
    height: $h1_size_small;
  }
}

@media only screen and (min-width: $medium_breakpoint_min) and (max-width: $medium_breakpoint_max) {
  .navigation-row-icon {
    height: $h1_size_medium;
  }
}

@media only screen and (min-width: $big_breakpoint_min) {
  .navigation-row-icon {
    height: $h1_size_medium;
  }
}
