<div class="contact-page-main">
  <div class="contact-page-top-container">
    <span class="text">Got questions? Want to book us for your event?
      <br> Just send an email to <a href="mailto:phymosis@web.de">phymosis@web.de</a>, simply use the form below...
    </span>
  </div>
  <div class="contact-page-form-container">
    <phy-contact-form></phy-contact-form>
  </div>
  <span class="text"> ...or visit us on: </span>
  <div class="contact-page-bottom-container">
    <span>
      <a href="https://www.facebook.com/phymosis/" target="_blank">
        <img class="navigation-row-icon navigation-row-element" src="assets/icon/facebook-logo.svg" alt="facebook">
      </a>
    </span>
    <span>
      <a href="https://phymosis.bandcamp.com/releases" target="_blank">
        <img class="navigation-row-icon navigation-row-element" src="assets/icon/bandcamp-full.svg" alt="bandcamp">
      </a>
    </span>
    <span>
      <a href="https://www.youtube.com/channel/UC1k9t6pRNwRpjAXveW1QX_w" target="_blank">
        <img class="navigation-row-icon navigation-row-element" src="assets/icon/youtube-blk.svg" alt="youtube">
      </a>
    </span>
    <span>
      <a href="https://instagram.com/phymosisband?igshid=pps1mvgr6mi8" target="_blank">
        <img class="navigation-row-icon navigation-row-element" src="assets/icon/instagram.svg" alt="instagram">
      </a>
    </span>
  </div>
</div>
