@import "src/styles";

.live-page-main {
  background-color: white;
  width: 93vw;
  display: flex;
  flex-direction: row;
  padding: 2%;
  margin-left: 1vw;
  justify-content: space-between;
  > .live-page-videos {
    align-items: center;
    width: 46%;
    margin-right: 2%;
  }
  > .live-page-tourdates {
    align-items: center;
    width: 48%;
  }
}
@media only screen and (max-width: $small_breakpoint_max) {
  .live-page-main {
    width: 96vw;
    margin-left: 0;
    display: flex;
    flex-direction: column-reverse;
    padding: 4vw 2vw 4vw 2vw;
    > .live-page-videos {
      width: 98%;
    }

    > .live-page-tourdates {
      width: 98%;
    }
  }
}
