<div class="live-page-main">
  <div class="live-page-videos">
    <h3 style="width:100%;text-align:center;margin:0">PAST SHOWS</h3>
    <hr style="width:100%;text-align:left;margin:0 0 2vw 0">
    <ng-container *ngFor="let tourDateBean of pastTourDates">
      <phy-tourdate-video [tourdateBean]="tourDateBean"></phy-tourdate-video>
    </ng-container>
    <hr style="width:100%;text-align:left;margin:0">
  </div>
  <div class="live-page-tourdates">
    <h3 style="width:100%;text-align:center;margin:0">UPCOMING SHOWS</h3>
    <hr style="width:100%;text-align:left;margin:0 0 2vw 0">
    <ng-container *ngIf="$tourDates | async">
      <ng-container *ngIf="($tourDates | async).length > 0">
        <ng-container *ngFor="let tourDateBean of ($tourDates | async)">
          <phy-tourdate [tourdateBean]="tourDateBean"></phy-tourdate>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="($tourDates | async).length === 0">
        <div style="margin-bottom: 2vw"><h3 style="text-align: center; font-weight: normal;">...nothing planned so
          far...</h3></div>
      </ng-container>
      <hr style="width:100%;text-align:left;margin:0">
    </ng-container>
  </div>
</div>



